<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Quyết đê</title>
</head>
<body>
    <h1 id="content"></h1>
    <button id="yes" class="btn_answer" data-questionId="">Đúng/Có/Phải</button>
    <button id="no"  class="btn_answer" data-questionId="">Sai/không/trái</button>
    <button>Xem câu hỏi khác</button>
    <button class="btn_answer">Xem kết quả </button>
    <script
     src="https://code.jquery.com/jquery-3.3.1.min.js"
     integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
     crossorigin="anonymous"></script>

     <script>
          $(".btn_answer").click(function(){
             const vote=$(this).attr("id");
              const questionId=$(".btn_answer").attr("data-questionId");
          $.ajax({
              url:"/vote/"+questionId+"/"+vote,
              type:"GET",
              success:function(data){
                window.location.href="/question/"+questionId
                
              },
              error:function(err){
                  console.log(err);
              }
          });
       });

          $.ajax({
         url: "/api/random",
         type: "GET",
         success:function(data){
           console.log(data.question);
           $("#content").text(data.question.content);
           $(".btn_answer").attr("data-questionId",data.question.id);
         },
         error: function(err){
            console.log(err);
         }
     });
     </script>
    
</body>
</html>