<!DOCTYPE <!DOCTYPE html>
<html>
<head>
    <title>Oanh pham profile</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="main.css" />
    <link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.5.0/css/all.css' integrity='sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU' crossorigin='anonymous'>
  
</head>
<body>
    <div class="father">
        <aside class="panel">
          <div >
              <img src="D:\TKFullStack\JS\Labquyetde\view\img\ptg.jpg" alt="the fool" class="avatar">
          </div>  
          <h1>
              <a href="#">Oanh Pham</a>
          </h1> 
          <hr>
          <div class="infor">
          <ul >
              <li>
                    <i class='fas fa-code'></i>
                    <i href="#about">What about me?</i>
                    <i class='fas fa-clipboard-check'></i>
                    
              </li>
              
          </ul>
          <ul >
                <li>
                        <i class='fas fa-code'></i>
                        <i href="#exp">Experience</i>
                        <i class='fas fa-business-time'></i>
                        
                  </li>
          </ul>
          <ul >
                <li>
                        <i class='fas fa-code'></i>
                        <i href="#exp">Furture</i>
                        <i class='fas fa-chart-line'></i>
                        
                  </li>
          </ul>
        </div>

          
        </aside>
        <main class="content">
           <section class="start">
               <div class="video">
                   <video  autoplay muted loop>
                   <source src="D:\TKFullStack\JS\Labquyetde\view\img\Short kaneki amv.mp4" type="video/mp4">
                    </video>
               </div>
               <div class="intro">
                    <h3 >
                            ぼくはかんたんにあげることはできません
                       </h3>
                   <h2>
                       Oanh Pham
                   </h2>
                   
　　　　　　　　　
               </div>
          </section>
          <section class="main_content">
              <div class="about">
                  <ul>
                        <li>i'm Pham Oanh </li>
                        <li> from Hung yen province, i'm 3th years at the Universty of Transport and Communication</li>
                        <li>My major is information technology</li>
                        <li>My hobbies are traveling, anime and books</li>
                        <li>in the future, i wanna work and take some where in the world, simplely i like moving than keep on place long time. take new vision, new things, learn more because everything in my life always flow</li>
                  </ul>
                
              </div>
          </section>
      </main>
   </div>
</body>